@model Assignment4.Models.FuelCalcItem

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Fuel Calculation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartOdometer" class="control-label"></label>
                <input asp-for="StartOdometer" class="form-control" />
                <span asp-validation-for="StartOdometer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndOdometer" class="control-label"></label>
                <input asp-for="EndOdometer" class="form-control" />
                <span asp-validation-for="EndOdometer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountOfFuel" class="control-label"></label>
                <input asp-for="AmountOfFuel" class="form-control" />
                <span asp-validation-for="AmountOfFuel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostOfFuel" class="control-label"></label>
                <input asp-for="CostOfFuel" class="form-control" />
                <span asp-validation-for="CostOfFuel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
