@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">About Us</h1>
    <p>Brandon Staroscik</p>
    <p>SCC ID: 423720</p>
    <p>Assignment: Assignment 4</p>
    <p>Fuel Calculator Project</p>
    <p>Date: March 2, 2022</p>
</div>