@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">About Us</h1>
    <p>Brandon Staroscik</p>
    <p>SCC ID: 423720</p>
    <p>Assignment: Assignment 3</p>
    <p>Template for future projects</p>
    <p>Date: February 15, 2022</p>
</div>