@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the landing page for the template for future assignments. There currently isn't much to put on this page due to construction.</p>
    <p>The links above currently link to their respective pages and have some wording on them. </p>
</div>
