@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to the Home Page for Assignment 5!</p>
    <p>The links above currently link to their respective pages and the database is now online!</p>
</div>
