@model Assignment4.Models.FuelCalcItem
@{
    ViewData["Title"] = "Input Data";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <p>This will be the page to insert the data for the fuel calculator</p>
</div>


<h1>Fuel Economy Calculator</h1>

<form asp-action="FuelEcon" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="StartOdometer">Starting Odometer: </label>
        <input asp-for="StartOdometer" />
        <span asp-validation-for="StartOdometer"></span>
    </div>
    <div>
        <label asp-for="EndOdometer">Ending Odometer: </label>
        <input asp-for="EndOdometer" />
        <span asp-validation-for="EndOdometer"></span>
    </div>
    <div>
        <label asp-for="AmountOfFuel">Amount of Fuel: </label>
        <input asp-for="AmountOfFuel" />
        <span asp-validation-for="AmountOfFuel"></span>
    </div>
    <div>
        <label asp-for="CostOfFuel">Cost Per Gallon: </label>
        <input asp-for="CostOfFuel" />
        <span asp-validation-for="CostOfFuel"></span>
    </div>
    <div>
        <label>Miles Per Gallon: </label>
        <input value="ViewBag.FE.ToString("0.00.##")" readonly>
    </div>
    <div>
        <label>Cost Per Mile: </label>
        <input value="ViewBag.FE2.ToString("C2")" readonly>
    </div>
    <button type="submit">Calculate</button>
    <a asp-action="FuelEcon">Clear</a>
</form>
